.socialHeading ion-icon {
  margin-right: 0.5rem;
}
.socialHeading ion-label {
  font-size: 3rem;
  color: aquamarine;
}

.socialShare {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
}

.copyBtn ion-icon {
  font-size: 1.8rem;
  color: #737373;
}

.socialBtn,
.copyBtn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.socialBtn ion-label,
.copyBtn ion-label {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: #262626;
}
